{% extends 'parent' %}

{% block content %}

<h3>Profil:</h3>
<div class="list-group">
  <a class="list-group-item">
    <h5 class="list-group-item-heading"><b>Felhasználónév</b></h5>
    <p class="list-group-item-text">{{user.username}}</p>
  </a>
  {% if user.name %}
  <a class="list-group-item">
    <h5 class="list-group-item-heading"><b>Név</b></h5>
    <p class="list-group-item-text">{{user.name}}</p>
  </a>
  {% endif %}
  <a class="list-group-item">
    <h5 class="list-group-item-heading"><b>Email</b></h5>
    <p class="list-group-item-text">{{user.email}}</p>
  </a>
  <a class="list-group-item">
    <h5 class="list-group-item-heading"><b>Regisztráció időpontja</b></h5>
    <p class="list-group-item-text">{{user.created_at}}</p>
  </a>
</div>

{% if teams.length > 0 %}
<h4>Csoportok:</h4>
<ul>
{% for team in teams %}
    <li>{{team.name}}</li>
{% endfor %}
</ul>
{% endif %}

{% if supervisor == true %}
<h4>Kiadások:</h4>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Dátum</th>
      <th>Kategória</th>
      <th>Összeg</th>
      <th>Megjegyzés</th>
    </tr>
  </thead>
  <tbody>
    {% for exp in expenses|sort(false, true, 'date') %}
            <tr>
                <td>{{exp.date}}</td>
                <td>
                    {%for category in categories%}
                        {%if exp.category_id == category.id %} 
                            {{category.name}}
                        {%endif%}
                    {%endfor%}
                </td>
                <td>
                    {% if exp.amount < 0%}
                        <font color="red">{{ exp.amount * -1 }}</font>
                    {% else %}
                        <font color="green">{{ exp.amount }}</font>
                    {% endif %} Ft 
                </td>
                <td>
                    {% if exp.comment %}
                        {{exp.comment}}
                    {% endif %}
                </td>
            </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}