<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Family Budget</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.hu.min.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.hu.min.js"></script>

  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Budget</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            {%if currentUser%}
                <li><a href="/expenses">Kiadások</a></li>
                <li><a href="/expenses/new">Új tétel</a></li>
            {% endif %}
            </ul>

            <form class="navbar-form navbar-left"  action="/search" method="GET">
                <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Felhasználó keresése">
                </div>
                <button type="submit" class="btn btn-primary">Mehet</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
            {% if currentUser %}
              <li><a href="/profile">Szia, {{ currentUser.username }}!</a></li>
              <li><a href="/logout">Kilépés</a></li>
            {% else %}
              <li><a href="/login">Belépés</a></li>
              <li><a href="/signup">Regisztráció</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

<div class = "container" >

{% block content %}{% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>