{% extends 'parent' %}

{% block content %}

<h3>{{team.name}}</h3>

<ul>
{% for member in teammates |sort(false,true,'username') %}
    <li><a href="/profile/{{member.username}}">{{member.username}}</a></li>
{% endfor %}
</ul>

<p><a href="/teams/{{team.id}}/newmember">[Új tag felvétele]</a>
<a href="/teams/{{team.id}}/quit">[Kilépés a csapatból]</a></p>


<h4>Gyűjtések</h4>
<p><a href="/savings/new">[Új gyűjtés létrehozása]</a></p>
{% if savings.length > 0 %}
    {% for s in savings | sort(true,true,'created_at') %}
        <a href="/savings/{{s.id}}"><b>{{s.name}}</b></a> {% if s.is_fulfilled%} [TELJESÍTVE] {%endif%} <br>
        Kitűzött cél: {{s.goal}} Ft <br>
        Jelenlegi összeg: {{s.current}} Ft <br>
        <div class="progress">
            <div class="progress-bar {% if s.is_fulfilled%}progress-bar-success{%endif%}" style="width: {{s.current/s.goal*100}}%;"></div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}